.NavBar{
    padding-left: 30%;
    padding-right: 30%;
    display: flex;
    justify-content: space-between;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: bisque;
    font-weight: bolder;
}
.NavBar>div:hover{
    /* border: 2px solid red; */
    font-style: italic;
}